.App {
  text-align: center;
  /* scroll-margin-top: 10rem; */
  padding: 0.5rem;
  background-color: var(--b-main);
}
/* * {
  outline: 2px solid red;
} */
/* body {
  background-color: brown;
  padding: 1rem;
  /* overflow: hidden;
} */

/* #root {
  padding: 1rem;
  background-color: #61dafb;
  overflow: hidden;
}  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-bar{
  position: sticky;
  top: 0px;
  z-index: 10;
}
.menu-bar::after {
  transform-origin: bottom left;
  transform: skewY(-30deg);
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--t-alt);
}

.dev-area{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.dev-card-container {
  background-color: var(--b-main);
  color: var(--t-highlight);
  padding: 0.1em;
  margin: 0.4em;

  border-radius: 1vw;
  box-shadow: 0.3em 0.5em 8px #b2b7c0c3;
  transition-property: box-shadow;
  transition-duration: 0.6s;
}

.dev-card-container:hover {
  color: white;
  background-color: rgba(136, 168, 196, 0.51);
  box-shadow: 0.2em 0.4em 5px #7b7e84ca;
}

.dev-profile-pic-container{
  padding: 0.1em;
  border-top-left-radius: 6vw;
  border-top-right-radius: 1.3vw;
  overflow: hidden;
}

.dev-profile-pic {
  min-width: 8em;
  min-height: 6em;
  max-width: 22vw;
  max-height: 30vh;
}

.dev-profile-name{
  margin: 0.2em;
  padding: 0.2em;
  color: inherit;
  font-weight: bold;
}
.full-width{
  width: 100%;
}

.space-holder {
  min-height: 20vh;
  padding-left: 5vh;
  padding-right: 5vh;

  box-shadow: inset 0 0.8em 5px rgba(0, 0, 0, 0.337);
  background-color: var(--b-main-shadow);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.empty-space {
  height: 5vh;
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}

.icon {
  margin: 1em;
  flex-grow: 1;
}

.float {
  padding: 1em;
  /* background-color: #ffffff; */
  box-shadow: 0.3em 0.5em 8px #b2b7c0c3;
  background-color: var(--b-mid);

  border-radius: 5px;

}

.background-thread {
  background-image: linear-gradient(to right, #ffffff 54%, #8b7c7c9d, #ffffff 80%), url("/Users/user/codeclan_work/git_portfolio/src/images/chevrons_full_width.png");
  background-repeat: repeat-y;
  filter: grayscale(20%);
  /* drop-shadow(1em 2em 2em black inset); */
  background-attachment: fixed;
  margin-top: 1rem;
  background-position-x: 33%;
  background-size: 100%;
  

  /* dark theme */
  /* background-image: linear-gradient(to right, black 54%, #221b1bdb, black 80%), url("/Users/user/codeclan_work/git_portfolio/src/images/chevrons_full_width.png"); */
}

h1 {
  background-color: var(--b-mid);
  color: var(--b-main);
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}
h2 {
  background-color: var(--b-mid);
  color: var(--b-main);
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}
