body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--b-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --b-highlight: #8ecae6; /* Light Blue */
  --b-highlight-mask: #8ecae67c; /* Light Blue */
  --b-mid: #219ebc; /* Mid Blue */
  --b-main: #023047; /* Dark Blue */
  --b-main-shadow: #0230471f; /* Dark Blue v see through */
  --b-main-mask: #023047f2; /* Dark Blue v see through */
  --t-highlight: #ffb703; /* Yellow */
  --t-alt: #fb8500; /* Orange */
  --b-shadow: black;
  --b-mid-shadow: rgba(0, 0, 0, 0.500);
  
}